@import "colors";

@media screen and (min-width: 768px) {
  //Header
  .search {
    max-width: 768px;
  }

  //Index

  .main-product {
    width: 93%;
    font-size: 0.95em;
  }

  .product {
    width: 93%;
    font-size: 0.95em;
  }

  //Productos

  .article {
    max-width: 700px;
  }

  .article__wrapper {
    margin-bottom: 30px;
    padding: 10px;
  }

  //Recetas
  .recipes {
    grid-template-columns: 1fr 1fr;
  }

  //Cocina

  .food-recipe {
    width: 95%;
  }

  .food-recipe__article {
    margin: auto 20px;
  }

  .food-recipe__description {
    font-size: 1em;
  }

  //Ayuda

  // .form__textarea {
  //   width: 98%;
  // }
}

@media screen and (min-width: 1024px) {
  //Header

  .nav__dropdown-item:hover {
    background-color: $color-honeydew;
    transition: 0.8s;
  }

  .search {
    max-width: 380px;
  }

  .social-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
  }

  .nav-container .nav__item .nav__item-link:hover {
    color: $color-honeydew;
  }

  //Index

  .main-product {
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
  }

  .product__title {
    padding-top: 1em;
  }

  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
  }

  .product--alternative {
    grid-template-columns: 3fr 2fr;
  }

  .product__link {
    transition: 0.4s;
  }

  .product__link:hover {
    transform: scale(1.005);
    transition: 0.4s;
  }

  .product__picture {
    width: 95%;
    margin: 0;
  }

  .product__img {
    width: 100%;
    max-height: 300px;
  }

  //Productos

  .article {
    width: 90%;
    max-width: none;
  }

  .article__wrapper {
    margin-bottom: 20px;
    padding: 15px;
  }

  .article__wrapper:hover {
    transform: scale(1.01);
    transition: 0.2s;
  }

  .article__product {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .article__title:hover {
    text-decoration: underline;
  }

  .article__img {
    width: auto;
    max-width: 250px;
  }

  .article__description {
    font-size: 1.8rem;
    display: unset;
  }

  //Recetas

  .recipes {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recipes__link:hover {
    color: $color-powder-blue;
    transition: 0.2s;
  }

  .recipes__picture {
    display: inline-block;
    overflow: hidden;
  }

  .recipes__img {
    width: 100%;
    transition: all 0.1s;
  }

  .recipes__img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .recipes__title {
    font-size: 1.5em;
  }

  //Cocina

  .food-recipe {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }

  .food-recipe__link {
    margin-top: 5px;
  }

  .food-recipe__article {
    margin: 20px;
    transition: 0.4s;

    &:hover {
      transform: scale(1.005);
      transition: 0.4s;
    }
  }

  //Ayuda

  .wrapper {
    margin-bottom: 100px;
  }

  .about-us__title {
    text-align: center;
  }

  .form__title {
    text-align: center;
  }

  .form__button {
    margin: 10px;
    transform: scale(1.2);
  }
  //Footer

  .footer__list-element .footer__link,
  .footer__copyright {
    transition: 0.3s all;
  }

  .footer__list-element .footer__link:hover,
  .footer__copyright:hover {
    color: $color-black;
  }
}

@media screen and (min-width: 1440px) {
  //Index

  .product__picture {
    width: 95%;
    margin: 0;
  }

  //Productos

  .article__img {
    max-width: 280px;
  }

  //Recetas

  .recipes {
    width: 80%;
  }

  //Ayuda

  .wrapper {
    margin-bottom: 185px;
  }

  .about-us__wrapper {
    margin: auto 250px;
  }

  .form__container {
    width: 90%;
  }
}
