@import "colors";

$redes: (
  instagram: #ffadda,
  facebook: #1877f2,
  linkedin: #0a66c2,
);

@each $red, $color in $redes {
  .social__img--#{$red}:hover {
    color: $color;
  }
}

.nav-container {
  background-color: $color-imperial-red;
  color: $color-imperial-red;
}

.nav__img-logo {
  width: 80%;
  max-width: 60px;;
}

.nav__items-wrapper {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.nav-container .nav__item .nav__item-link {
  color: $color-black;
}

.nav__dropdown {
  background-color: $color-powder-blue;
  padding: 0;
}

.search {
  width: 100%;
}

.search__input {
  width: 100%;
  background-color: $color-honeydew;
}

.search__input:focus {
  background-color: $color-honeydew;
  border-color: $color-black;
  box-shadow: none;
}

.search__button {
  background-color: $color-powder-blue;
  color: $color-black;
  border: none;
}

.search__button:hover {
  background-color: $color-powder-blue;
  color: $color-black;
}

.social-bar {
  display: none;
}

.social__img {
  font-size: 2em;
  transition: all 0.3s;
  color: black;
}

.social__img:hover {
  transform: scale(1.2);
}
