@import "colors";

.article {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
}

.article__wrapper {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
}

.article__img {
  width: 100%;
}

.article__description {
  display: none;
}
