@import "colors";

.recipes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto;
}

.recipes__link{
  text-decoration: none;
  color: $color-black;
  &:hover{
    color: $color-black;
  }
}

.recipes__article {
  padding: 12px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.recipes__title {
  text-align: center;
  font-size: 1.3em;
}

.recipes__img {
  width: 100%;
  max-width: 1000px;
}
