@import "variable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Saira", sans-serif;
    background-color: $color-gray-95;
    font-size: 1.6rem;
  }

@import "header";
@import "footer";