* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Saira", sans-serif;
  background-color: #f2f2f2;
  font-size: 1.6rem;
}

.mainContainer {
  margin: 24px;
}

.logoImg {
  width: 100%;
  max-width: 60px;
}

.search {
  width: 100%;
}

.navContainer .nav-item .navlinkItem{
 color: black;
}

.navContainer .nav-item .navlinkItem:hover{
  color: #f1faee;
 }

.navSearch {
  width: 100%;
  background-color: #f1faee;
}

.searchButton {
  background-color: #a8dadc;
  color: black;
  border: none;
}

.searchButton:hover {
  background-color: #a8dadc;
  color: black;
}

.navContainer {
  background-color: #ed4a44;
  color: #ed4a44;
}

.navDropdown {
  background-color: #a8dadc;
  padding: 0;
}

.navbarItems {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.socialMedia {
  display: none;
}

.socialMediaImg {
  width: 100%;
  max-width: 30px;
  transition: all 0.3s;
}

.socialMediaImg:hover {
  transform: scale(1.2);
  filter: invert(1);
}

.bannerWrapper {
  width: 100%;
  height: calc(100vh - 89.41px);
  min-height: 500px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../multimedia/imagenes/banner_dos.jpg");
}

.bannerRecipes {
  background-image: url("../multimedia/imagenes/banner_recetas.jpg");
}

h1 {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
}

.helpForm {
  width: 50%;
}

.aboutUs {
  width: 40%;
}

.aboutUsText {
  font-size: larger;
}

.formFieldset {
  padding: 0 10px;
  margin: 0 50px;
}

.dataForm {
  margin: 0 5px;
  display: inline;
}

.optionForm {
  margin: 5px 0;
  display: block;
}

.formTextarea {
  display: block;
  resize: none;
}

.newsForm {
  display: block;
}

.bottonForm {
  display: inline;
}

p {
  color: #929292;
}

.recipe {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.recipePictures {
  display: flex;
}

.recipe img {
  margin-right: 30px;
}

.recipeImg {
  width: 500px;
}

.recipeVideo {
  width: 576px;
}

.recipes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}

.bannerProducts {
  background-image: url("../multimedia/imagenes/banner_productos.jpg");
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  width: 80%;
}

.products {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.imgRecipeProduct {
  width: 100%;
  height: 85%;
}

.productsText {
  font-size: 2rem;
}

footer {
  background-color: #ed4a44;
  margin-top: auto;
}

footer p {
  color: #f1faee;
  padding: 20px;
}

.footerItem a,
.footerCopyright {
  color: #f1faee;
  text-decoration: none;
  transition: 0.3s all;
}

.footerItem a:hover,
.footerCopyright:hover {
  color: black;
  transform: scale(0.5);
}

@media screen and (min-width: 768px) {
  .search {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    max-width: 380px;
  }

  .socialMedia {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
  }

  .navDropdown a:hover {
    background-color: #f1faee;
    transition: 0.8s;
  }
}
