* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Saira", sans-serif;
  background-color: #f2f2f2;
  font-size: 1.6rem;
}

.headerContainer {
  background-color: #ed4a44;
  height: 100px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.logoWrapper {
  margin-left: 20%;
}

.logoImg {
  width: 100%;
  max-width: 60px;
}

.headerNav {
  margin: auto 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 400px;
}

.search input {
  background-color: #f1faee;
  width: 100%;
  padding: 3px 2px;
  outline: none;
  border: none;
  height: 20px;
  font-size: small;
  font-family: "saira",sans-serif;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menuContainer {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  justify-content: center;
  text-indent: 10px;
  list-style: none;
  vertical-align: middle;
}

.navItem {
  display: inline-block;
  justify-content: center;
  position: relative;
}

.navItem a,
.navItem li,
.footerItem a,
.footerCopyright {
  color: #f1faee;
  text-decoration: none;
  transition: 0.3s all;
}

.navItem a:hover,
.footerItem a:hover,
.footerCopyright:hover {
  color: black;
  transform: scale(0.5);
}

.dropdown {
  display: none;
  position: absolute;
}

.subNavItem {
  display: block;
  background-color: #ed4a44;
  text-align: left;
  cursor: pointer;
  transition: 0.3s all;
}

.subNavItem:hover {
  color: #000000;
  background-color: #a8dadc;
}

.menuContainer .navItem:hover .dropdown {
  display: block;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 20px;
}

.socialMediaImg {
  width: 100%;
  max-width: 30px;
  transition: all 0.3s;
}

.socialMediaImg:hover {
  transform: scale(1.2);
  filter: invert(1);
}

.mainContainer{
  margin: 24px;
}

.bannerWrapper {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 500px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../multimedia/imagenes/banner_dos.jpg");
}

.bannerRecipes {
  background-image: url("../multimedia/imagenes/banner_recetas.jpg");
}

h1 {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
}

.helpForm {
  width: 50%;
}

.aboutUs {
  width: 40%;
}

.aboutUsText {
  font-size: larger;
}

.formFieldset {
  padding: 0 10px;
  margin: 0 50px;
}

.dataForm {
  margin: 0 5px;
  display: inline;
}

.optionForm {
  margin: 5px 0;
  display: block;
}

.formTextarea {
  display: block;
  resize: none;
}

.newsForm {
  display: block;
}

.bottonForm {
  display: inline;
}

p {
  color: #929292;
}

.recipe {
  width: 100%;
  display: flex;
  justify-content: center;
  margin:24px 0;
}


.recipePictures{
  display: flex;
}

.recipe img {
  margin-right: 30px;
}

.recipeImg {
  width: 500px;
}

.recipeVideo {
  width: 576px;
}

.mainProduct {
  margin: auto;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.sectionProductsOne {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  text-align: center;
  width: 80%;
  margin: 80px auto;
}

.sectionProductsTwo {
  grid-template-columns: 3fr 2fr;
}

.mainImg {
  width: 80%;
  display: block;
}

.foodImg {
  width: 100%;
  height: 100%;
}

.recipes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}

.bannerProducts {
  background-image: url("../multimedia/imagenes/banner_productos.jpg");
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  width: 80%;
}

.products {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.imgRecipeProduct {
  width: 100%;
  height: 85%;
}

.productsText {
  font-size: 2rem;
}

footer {
  background-color:#ed4a44 ;
  margin-top: auto;
}

footer p {
  color: #f1faee;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  
  .search{
   padding-bottom: 20px;
  }


  .search input{
    height: 30px;
    
  }

  .navContainer{
    display: none;

  }

  .mainProduct{
    width: 100%;
  }

  .sectionProductsOne{
    width: 100%;
  }

}

