* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Saira", sans-serif;
  background-color: #f2f2f2;
  font-size: 1.6rem; }

h1 {
  display: none; }

p {
  color: #929292; }

.social__img--instagram:hover {
  color: #ffadda; }

.social__img--facebook:hover {
  color: #1877f2; }

.social__img--linkedin:hover {
  color: #0a66c2; }

.nav-container {
  background-color: #e63946;
  color: #e63946; }

.nav__img-logo {
  width: 80%;
  max-width: 60px; }

.nav__items-wrapper {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; }

.nav-container .nav__item .nav__item-link {
  color: #000;
  font-size: 1.6rem; }

.nav__dropdown {
  background-color: #a8dadc;
  padding: 0; }

.nav__dropdown-item {
  font-size: 1.6rem; }

.search {
  width: 100%; }

.search__input {
  width: 100%;
  background-color: #f1faee;
  font-size: 1.4rem; }

.search__input:focus {
  background-color: #f1faee;
  border-color: #000;
  box-shadow: none; }

.search__button {
  background-color: #a8dadc;
  color: #000;
  border: none;
  font-size: 1.4rem; }

.search__button:hover {
  background-color: #a8dadc;
  color: #000; }

.social-bar {
  display: none; }

.social__img {
  font-size: 2em;
  transition: all 0.3s;
  color: black; }

.social__img:hover {
  transform: scale(1.2); }

.banner-wrapper {
  width: 100%;
  height: calc(100vh - 75.61px);
  min-height: 500px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover; }

.banner-wrapper--index {
  background-image: url("../multimedia/imagenes/banner_dos.jpg"); }

.banner-wrapper--articles {
  background-image: url("../multimedia/imagenes/banner_productos.jpg"); }

.banner-wrapper--recipes {
  background-image: url("../multimedia/imagenes/banner_recetas.jpg"); }

.banner-wrapper--index, .banner-wrapper--articles, .banner-wrapper--recipes {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main-product {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  justify-content: flex-end;
  margin: 30px auto;
  font-size: 0.9em; }

.main-product__title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

.main-product__description {
  font-size: 1.8rem; }

.product {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9em; }

.product__link {
  text-decoration: none; }
  .product__link .product__title {
    color: #000;
    font-size: 2.2rem;
    padding: 10px 0; }

.product__card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin-bottom: 20px; }

.product__picture {
  display: inline-block;
  margin: 10px;
  padding-bottom: 5px; }

.product__img {
  object-fit: cover;
  width: 100%;
  min-height: 350px; }

.article {
  display: grid;
  grid-template-columns: 1fr; }

.article__card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
  padding: auto;
  text-align: center; }

.article__link {
  text-decoration: none; }

.article__title {
  color: #000; }

.article__img-wrapper {
  width: 100%; }

.article__img {
  width: 100%;
  height: 100%;
  max-height: 230px;
  padding: 10px; }

.article__card p {
  margin-bottom: 0; }

.article__button {
  margin: 0;
  border: none;
  outline: 0;
  padding: 5px;
  background-color: #000;
  color: #f2f2f2;
  text-align: center;
  cursor: pointer;
  width: 100%; }

.recipes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto; }

.recipes__link {
  text-decoration: none;
  color: #000; }
  .recipes__link:hover {
    color: #000; }

.recipes__article {
  padding: 12px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px; }

.recipes__title {
  text-align: center;
  font-size: 1.3em; }

.recipes__img {
  width: 100%;
  max-width: 1000px; }

.food-recipe {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 15px auto; }

.food-recipe__link {
  margin-top: 20px;
  text-decoration: none;
  color: #000; }
  .food-recipe__link:hover {
    color: #000; }

.food-recipe__article {
  margin: auto 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 5px; }

.food-recipe__title {
  text-align: center; }

.food-recipe__card {
  position: relative; }

.food-recipe__picture {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  width: 100%; }
  .food-recipe__picture::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4; }

.food-recipe__img {
  width: 100%; }

.food-recipe__description {
  position: absolute;
  bottom: 0;
  margin: 2px;
  text-align: center;
  width: 100%;
  font-size: 0.75em;
  color: #f1faee; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px; }

.about-us__wrapper {
  padding: 1em; }

.about-us__title {
  font-size: 3rem; }

.form__wrapper {
  width: 100%; }

.form__fieldset {
  padding: 10px; }

.form__title {
  font-size: 3rem; }

.form__container {
  margin: 0 auto; }

.form__label {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.form__input {
  padding: 5px;
  border-color: #929292; }

.form__select-option {
  margin: 5px;
  border-color: #929292; }

.form__textarea {
  border-color: #929292;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.form__news {
  margin: 5px; }

.form__button {
  margin: 5px; }
  .form__button--submit {
    background-color: #a8dadc;
    color: #f1faee; }
    .form__button--submit:hover {
      color: #f1faee;
      background-color: #71c3c6;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.6);
      transition: 0.2s ease-in-out; }
  .form__button--reset:hover {
    border: 1px solid #000; }

footer {
  background-color: #e63946;
  margin-top: auto; }

.footer__text {
  color: #f1faee;
  padding: 20px; }

.footer__list-element .footer__link,
.footer__copyright {
  color: #f1faee;
  text-decoration: none; }

.footer__copyright:link {
  color: #000; }

.error-404__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10em;
  margin: 1em; }

.error-404__title {
  font-size: 3em;
  font-weight: bolder; }

.error-404__button {
  margin: 0;
  border: none;
  padding: 5px;
  background-color: #000;
  color: #f2f2f2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 300px; }

@media screen and (min-width: 768px) {
  .nav-container .nav__item .nav__item-link {
    font-size: 2rem; }
  .nav__dropdown-item {
    font-size: 2rem; }
  .search {
    max-width: 768px; }
  .main-product {
    width: 93%;
    font-size: 0.95em; }
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 93%;
    font-size: 0.95em; }
  .article {
    grid-template-columns: 1fr 1fr; }
  .recipes {
    grid-template-columns: 1fr 1fr; }
  .food-recipe {
    width: 95%; }
  .food-recipe__article {
    margin: auto 20px; }
  .food-recipe__description {
    font-size: 1em; } }

.error-404__title {
  font-size: 4em; }

.error-404__description {
  font-size: 1.5em; }

@media screen and (min-width: 1024px) {
  .nav__dropdown-item:hover {
    background-color: #f1faee;
    transition: 0.8s; }
  .search {
    max-width: 380px; }
  .social-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px; }
  .nav-container .nav__item .nav__item-link:hover {
    color: #f1faee; }
  .main-product {
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em; }
  .main-product__title {
    font-size: 3rem; }
  .main-product__description {
    font-size: 2rem; }
  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 15px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em; }
  .product .product__title {
    font-size: 2.5rem; }
  .product__description {
    font-size: 1.8rem; }
  .product--alternative {
    grid-template-columns: 3fr 2fr;
    margin-bottom: 2em; }
  .product__link {
    transition: 0.4s; }
  .product__link:hover {
    transform: scale(1.005);
    transition: 0.4s; }
  .product__picture {
    width: 95%;
    margin: 0; }
  .product__img {
    width: 100%;
    max-height: 300px; }
  .article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 35px; }
  .article__card {
    max-width: none; }
  .article__button:hover {
    background-color: #a8dadc;
    color: #000;
    transition: 0.5s; }
  .recipes {
    grid-template-columns: 1fr 1fr 1fr; }
  .recipes__link:hover {
    color: #a8dadc;
    transition: 0.2s; }
  .recipes__picture {
    display: inline-block;
    overflow: hidden; }
  .recipes__img {
    width: 100%;
    transition: all 0.1s; }
  .recipes__img:hover {
    transform: scale(1.2);
    cursor: pointer; }
  .recipes__title {
    font-size: 1.5em; }
  .food-recipe {
    grid-template-columns: 1fr 1fr;
    width: 85%; }
  .food-recipe__link {
    margin-top: 5px; }
  .food-recipe__article {
    margin: 20px;
    transition: 0.4s; }
    .food-recipe__article:hover {
      transform: scale(1.005);
      transition: 0.4s; }
  .wrapper {
    margin-bottom: 100px; }
  .about-us__title {
    text-align: center; }
  .form__title {
    text-align: center; }
  .form__button {
    margin: 10px;
    transform: scale(1.2); }
  .footer__list-element .footer__link,
  .footer__copyright {
    transition: 0.3s all; }
  .footer__list-element .footer__link:hover,
  .footer__copyright:hover {
    color: #000; } }

.error-404__title {
  font-size: 5em; }

.error-404__button:hover {
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.6);
  transition: 0.3s; }

@media screen and (min-width: 1440px) {
  .main-product__title {
    font-size: 3.5rem; }
  .main-product__description {
    font-size: 2rem; }
  .product .product__title {
    font-size: 2.5rem; }
  .product__description {
    font-size: 1.8rem; }
  .product__picture {
    width: 95%;
    margin: 0; }
  .recipes {
    width: 80%; }
  .wrapper {
    margin-bottom: 185px; }
  .about-us__wrapper {
    margin: auto 250px; }
  .form__container {
    width: 90%; } }
